<div class="h-full">
<div *ngIf="enable">
    <!-- <img src="assets/images/background/bg_image.jpg" class="w-full blur-sm"/>
    <img src="assets/images/background/bg_image.jpg" class="w-full blur-sm"/> -->
    <app-loading-spinner></app-loading-spinner>
</div> 

<div  *ngIf="!enable" class="absolute top-0 w-full h-full overflow-hidden">
    <app-navigation></app-navigation>
    
    <div class=" py-7 bg-opacity-20 bg-slate-300 h-full w-full">
        <router-outlet></router-outlet>
    </div>
</div>
</div>
